[user]
	email = williamg.online@gmail.com
	name = William Ganucheau
[core]
	editor = nvim

[color "decorate"]
	head = bold white
	branch = bold magenta
	remotebranch = blue
	tag = bold red
[credential]
	helper = cache --timeout=3600
